<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Consulta</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	 <link rel="icon" href="logo.png" type="image/png">
    <style>
        * {
            font-family: Poppins, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #EEE2E2;
            padding: 60px;
        }

        .main {
            background-color: white;
            border-top: 12px solid #94150D;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 20px;
            max-width: 1550px;
            margin: 20px auto;
        }

        .main h1 {
            font-size: 3rem;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .series, .resultado {
            margin: 10px;
            padding: 20px;
            border-radius: 20px;
        }

        .series {
            background-color: #eed3d1;
        }

        .resultado {
            background-color: #eed3d1 ;
        }
        
         .cadastro {
            width: 55%; 
        }

        .series h3, .resultado h3 {
            font-size: 1.2rem;
            margin-bottom: 10px;
        }

        .seriesvermelha {
            font-size: 24px;
            color: darkred;
            font-weight: bold;
        }

        .seriesbranca {
            font-size: 24px;
            font-weight: bold;
        }

        input[type="text"], input[type="number"] {
            border: 2px solid #94150D;
            border-radius: 30px;
            width: 90%;
            padding: 12px 20px;
            margin-bottom: 20px;
            font-size: 1rem;
            transition: all 0.3s ease-in-out;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        input[type="text"]:focus, input[type="number"]:focus {
            outline: none;
            border-color: #94150D;
            box-shadow: 0 4px 10px rgba(148, 21, 13, 0.3);
            transform: translateY(-2px);
        }

        input[type="text"]::placeholder, input[type="number"]::placeholder {
            color: #666;
            font-style: italic;
        }

        .btn.voltar {
            background-color: #fff;
            color: #94150D;
            border: 2px solid #94150D;
            margin-top: 10px;
            font-size: 16px;
            border-radius: 25px;
            padding: 10px 30px;
            transition: all 0.3s ease;
        }

        .btn.voltar:hover {
            background-color: #94150D;
            color: #fff;
            transform: scale(1.1);
        }
      
        .btn-sexo {
            background-color: #94150D;
            color: white;
            border: none;
            border-radius: 25px;
            padding: 12px 25px;
            font-size: 16px;
            transition: all 0.3s ease;
            margin-right: 10px;
            cursor: pointer;
        }

        .btn-sexo.selected {
            background-color: #5a0d00;
            transform: scale(1.05);
        }

        .btn-sexo:hover {
            background-color: #5a0d00;
        }
        
        @media (max-width: 1000px) {
            .main h1 {
                font-size: 2rem;
            }
        }

        @media (max-width: 600px) {
            .main h1 {
                font-size: 1.5rem;
            }

            button {
                padding: 8px 16px;
            }
        }
    </style>
</head>
<body>
    <div class="main" id="app">
        <center>
            <h1>Insira seus valores de referência</h1>
        </center>
        <br><br>
        <div class="row">
           
           <div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
                <button 
                    class="btn-sexo" 
                    :class="{ selected: sexo === 'Mulher' }" 
                    @click="selecionarSexo('Mulher')">
                    Mulher
                </button>
                <button 
                    class="btn-sexo" 
                    :class="{ selected: sexo === 'Homem' }" 
                    @click="selecionarSexo('Homem')">
                    Homem
                </button>
            </div>
            <br><br>
<br>
        <div  class="cadastro">
            <h3>Nome</h3>
            <input type="text" v-model="usuario.nome" placeholder="Digite seu nome" />
            <h3>Idade</h3>
            <input type="number" v-model="usuario.idade" placeholder="Digite sua idade" />
        </div>
	<br>
            
            <div class="col-md-6">
                <div class="series">
                    <p class="seriesvermelha">SÉRIE VERMELHA (ERITOGRAMA)</p>
                    
                    <div>
                        <h3>ERITRÓCITOS OU HEMÁCIAS</h3>
                        <input type="number" v-model="valores.eritrocitos" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>HEMOGLOBINA</h3>
                        <input type="number" v-model="valores.hemoglobina" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>HEMATÓCRITO</h3>
                        <input type="number" v-model="valores.hematocrito" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>VCM</h3>
                        <input type="number" v-model="valores.vcm" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>HCM</h3>
                        <input type="number" v-model="valores.hcm" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>CHCM</h3>
                        <input type="number" v-model="valores.chcm" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>RDW</h3>
                        <input type="number" v-model="valores.rdw" placeholder="Digite o valor de referência..." />
                    </div>
                </div>

                <div class="series">
                    <p class="seriesbranca">SÉRIE BRANCA (LEUCOGRAMA)</p>
                    
                    <div>
                        <h3>LEUCÓCITOS</h3>
                        <input type="number" v-model="valores.leucocitos" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>PROMIELÓCITOS</h3>
                        <input type="number" v-model="valores.promielocitos" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>MIELÓCITOS</h3>
                        <input type="number" v-model="valores.mielocitos" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>METAMIELÓCITOS</h3>
                        <input type="number" v-model="valores.metamielocitos" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>BASTONETES</h3>
                        <input type="number" v-model="valores.bastonetes" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>SEGMENTADOS</h3>
                        <input type="number" v-model="valores.segmentados" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>EOSINÓFILOS</h3>
                        <input type="number" v-model="valores.eosinofilos" placeholder="Digite o valor de referência..." />
                    </div>
                    <div>
                        <h3>BASÓFILOS</h3>
                        <input type="number" v-model="valores.basofilos" placeholder="Digite o valor de referência..." />
                    </div>
					<div>
						<h3>LINF.TÍPICOS</h3>
                        <input type="number" v-model="valores.linftipicos" placeholder="Digite o valor de referência..." />
                    </div>
					<div>
					<h3>LINF.ATÍPICOS</h3>
                        <input type="number" v-model="valores.linfatipicos" placeholder="Digite o valor de referência..." />
                    </div>
					<div>
					<h3>MONÓCITOS</h3>
                        <input type="number" v-model="valores.monocitos" placeholder="Digite o valor de referência..." />
                    </div>
					<div>
					<h3>PLASMÓCITOS</h3>
                        <input type="number" v-model="valores.plasmocitos" placeholder="Digite o valor de referência..." />
                    </div>
                </div>
            </div>


            
            <div class="col-md-6">
                <div class="resultado">
                    <p class="seriesvermelha">RESULTADOS SÉRIE VERMELHA</p>
                    
                    <div v-if="valores.eritrocitos !== ''">
                        <h3>ERITRÓCITOS OU HEMÁCIAS: {{ valores.eritrocitos }} - {{ calcularValor('eritrocitos') }}</h3>
                    </div>
                    <div v-if="valores.hemoglobina !== ''">
                        <h3>HEMOGLOBINA: {{ valores.hemoglobina }} - {{ calcularValor('hemoglobina') }}</h3>
                    </div>
                    <div v-if="valores.hematocrito !== ''">
                        <h3>HEMATÓCRITO: {{ valores.hematocrito }} - {{ calcularValor('hematocrito') }}</h3>
                    </div>
                    <div v-if="valores.vcm !== ''">
                        <h3>VCM: {{ valores.vcm }} - {{ calcularValor('vcm') }}</h3>
                    </div>
                    <div v-if="valores.hcm !== ''">
                        <h3>HCM: {{ valores.hcm }} - {{ calcularValor('hcm') }}</h3>
                    </div>
                    <div v-if="valores.chcm !== ''">
                        <h3>CHCM: {{ valores.chcm }} - {{ calcularValor('chcm') }}</h3>
                    </div>
                    <div v-if="valores.rdw !== ''">
                        <h3>RDW: {{ valores.rdw }} - {{ calcularValor('rdw') }}</h3>
                    </div>
                </div>

                <div class="resultado">
                    <p class="seriesbranca">RESULTADOS SÉRIE BRANCA</p>
                    
                    <div v-if="valores.leucocitos !== ''">
                        <h3>LEUCÓCITOS: {{ valores.leucocitos }} - {{ calcularValor('leucocitos') }}</h3>
                    </div>
                    <div v-if="valores.promielocitos !== ''">
                        <h3>PROMIELÓCITOS: {{ valores.promielocitos }} - {{ calcularValor('promielocitos') }}</h3>
                    </div>
                    <div v-if="valores.mielocitos !== ''">
                        <h3>MIELÓCITOS: {{ valores.mielocitos }} - {{ calcularValor('mielocitos') }}</h3>
                    </div>
                    <div v-if="valores.metamielocitos !== ''">
                        <h3>METAMIELÓCITOS: {{ valores.metamielocitos }} - {{ calcularValor('metamielocitos') }}</h3>
                    </div>
                    <div v-if="valores.bastonetes !== ''">
                        <h3>BASTONETES: {{ valores.bastonetes }} - {{ calcularValor('bastonetes') }}</h3>
                    </div>
                    <div v-if="valores.segmentados !== ''">
                        <h3>SEGMENTADOS: {{ valores.segmentados }} - {{ calcularValor('segmentados') }}</h3>
                    </div>
                    <div v-if="valores.eosinofilos !== ''">
                        <h3>EOSINÓFILOS: {{ valores.eosinofilos }} - {{ calcularValor('eosinofilos') }}</h3>
                    </div>
                    <div v-if="valores.basofilos !== ''">
                        <h3>BASÓFILOS: {{ valores.basofilos }} - {{ calcularValor('basofilos') }}</h3>
                    </div>
					<div v-if="valores.linftipicos !== ''">
                        <h3>LINF.TÍPICOS: {{ valores.linftipicos }} - {{ calcularValor('linftipicos') }}</h3>
                    </div>
					<div v-if="valores.linfatipicos !== ''">
                        <h3>LINF.ATÍPICOS: {{ valores.linfatipicos }} - {{ calcularValor('linfatipicos') }}</h3>
                    </div>
					<div v-if="valores.monocitos !== ''">
                        <h3>MONÓCITOS: {{ valores.monocitos }} - {{ calcularValor('monocitos') }}</h3>
                    </div>
					<div v-if="valores.plasmocitos !== ''">
                        <h3>PLASMÓCITOS: {{ valores.plasmocitos }} - {{ calcularValor('plasmocitos') }}</h3>
                    </div>
                </div>
            </div>
        </div>
	
       
        <center>
            <button class="btn voltar" onclick="window.location.href='inicio.html'">Voltar</button>
            <button class="btn voltar" @click="gerarPDF">Gerar PDF</button>
        </center>
    </div>

   <script>
    new Vue({
        el: '#app',
        data: {
            usuario: {
                nome: '',
                idade: ''
            },
            valores: {
                eritrocitos: '',
                hemoglobina: '',
                hematocrito: '',
                vcm: '',
                hcm: '',
                chcm: '',
                rdw: '',
                leucocitos: '',
                promielocitos: '',
                mielocitos: '',
                metamielocitos: '',
                bastonetes: '',
                segmentados: '',
                eosinofilos: '',
                basofilos: '',
                linftipicos: '',
                linfatipicos: '',
                monocitos: '',
                plasmocitos: ''
            },
            sexo: 'Não selecionado'
        },
        methods: {
            selecionarSexo(sexo) {
                this.sexo = sexo;
            },
            calcularValor(tipo) {
                let valor = parseFloat(this.valores[tipo]);
                if (isNaN(valor)) return '';

                switch (this.sexo) {
                    case 'Mulher':
                        switch (tipo) {
                            case 'eritrocitos':
                                return valor < 3.8 ? "Baixo" : valor <= 5.4 ? "Normal, adequado" : "Alto, inadequado";
                            case 'hemoglobina':
                                return valor < 12 ? "Baixo" : valor <= 16 ? "Normal, adequado" : "Alto, inadequado";
                            case 'hematocrito':
                                return valor < 35 ? "Baixo" : valor <= 47 ? "Normal, adequado" : "Alto, inadequado";
                            case 'vcm':
                                return valor < 80 ? "Baixo" : valor <= 101 ? "Normal, adequado" : "Alto, inadequado";
                            case 'hcm':
                                return valor < 27 ? "Baixo" : valor <= 32 ? "Normal, adequado" : "Alto, inadequado";
                            case 'chcm':
                                return valor < 31 ? "Baixo" : valor <= 36 ? "Normal, adequado" : "Alto, inadequado";
                            case 'rdw':
                                return valor < 10 ? "Baixo" : valor <= 16 ? "Normal, adequado" : "Alto, inadequado";
                            case 'leucocitos':
                                return valor < 4000 ? "Baixo" : valor <= 11000 ? "Normal, adequado" : "Alto, inadequado";
                            case 'promielocitos':
                                return valor <= 0 ? "Normal, adequado" : "Alto, inadequado"; 
                            case 'mielocitos':
                                return valor <= 0 ? "Normal, adequado" : "Alto, inadequado"; 
                            case 'metamielocitos':
                                return valor < 0 ? "Baixo" : valor <= 1 ? "Normal, adequado" : "Alto, inadequado";
                            case 'bastonetes':
                                return valor < 0 ? "Baixo" : valor <= 10 ? "Normal, adequado" : "Alto, inadequado";
                            case 'segmentados':
                                return valor < 48 ? "Baixo" : valor <= 73 ? "Normal, adequado" : "Alto, inadequado";
                            case 'eosinofilos':
                                return valor < 1 ? "Baixo" : valor <= 6 ? "Normal, adequado" : "Alto, inadequado";
                            case 'basofilos':
                                return valor < 0 ? "Baixo" : valor <= 2 ? "Normal, adequado" : "Alto, inadequado";
                            case 'linftipicos':
                                return valor < 27 ? "Baixo" : valor <= 42 ? "Normal, adequado" : "Alto, inadequado";
                            case 'linfatipicos':
                                return valor < 0 ? "Baixo" : valor <= 1 ? "Normal, adequado" : "Alto, inadequado";
                            case 'monocitos':
                                return valor < 2 ? "Baixo" : valor <= 12 ? "Normal, adequado" : "Alto, inadequado";
                            case 'plasmocitos':
                                return valor < 0 ? "Baixo" : valor <= 200 ? "Normal, adequado" : "Alto, inadequado";
                            default:
                                return '';
                        }

                    case 'Homem':
                        switch (tipo) {
                            case 'eritrocitos':
                                return valor < 4.2 ? "Baixo" : valor <= 5.9 ? "Normal, adequado" : "Alto, inadequado";
                            case 'hemoglobina':
                                return valor < 13 ? "Baixo" : valor <= 18 ? "Normal, adequado" : "Alto, inadequado";
                            case 'hematocrito':
                                return valor < 38 ? "Baixo" : valor <= 52 ? "Normal, adequado" : "Alto, inadequado";
                            case 'vcm':
                                return valor < 80 ? "Baixo" : valor <= 100 ? "Normal, adequado" : "Alto, inadequado";
                            case 'hcm':
                                return valor < 27 ? "Baixo" : valor <= 32 ? "Normal, adequado" : "Alto, inadequado";
                            case 'chcm':
                                return valor < 31 ? "Baixo" : valor <= 36 ? "Normal, adequado" : "Alto, inadequado";
                            case 'rdw':
                                return valor < 10 ? "Baixo" : valor <= 16 ? "Normal, adequado" : "Alto, inadequado";
                            case 'leucocitos':
                                return valor < 4000 ? "Baixo" : valor <= 11000 ? "Normal, adequado" : "Alto, inadequado";
                            case 'promielocitos':
                                return valor <= 0 ? "Normal, adequado" : "Alto, inadequado"; 
                            case 'mielocitos':
                                return valor <= 0 ? "Normal, adequado" : "Alto, inadequado"; 
                            case 'metamielocitos':
                                return valor < 0 ? "Baixo" : valor <= 1 ? "Normal, adequado" : "Alto, inadequado";
                            case 'bastonetes':
                                return valor < 0 ? "Baixo" : valor <= 10 ? "Normal, adequado" : "Alto, inadequado";
                            case 'segmentados':
                                return valor < 48 ? "Baixo" : valor <= 73 ? "Normal, adequado" : "Alto, inadequado";
                            case 'eosinofilos':
                                return valor < 1 ? "Baixo" : valor <= 6 ? "Normal, adequado" : "Alto, inadequado";
                            case 'basofilos':
                                return valor < 0 ? "Baixo" : valor <= 2 ? "Normal, adequado" : "Alto, inadequado";
                            case 'linftipicos':
                                return valor < 27 ? "Baixo" : valor <= 42 ? "Normal, adequado" : "Alto, inadequado";
                            case 'linfatipicos':
                                return valor < 0 ? "Baixo" : valor <= 1 ? "Normal, adequado" : "Alto, inadequado";
                            case 'monocitos':
                                return valor < 2 ? "Baixo" : valor <= 12 ? "Normal, adequado" : "Alto, inadequado";
                            case 'plasmocitos':
                                return valor < 0 ? "Baixo" : valor <= 0 ? "Normal, adequado" : "Alto, inadequado";
                            default:
                                return '';
                        }

                    default:
                        return '';
                }
            },
            gerarPDF() {
                const { jsPDF } = window.jspdf;
                const doc = new jsPDF();

                const hoje = new Date();
                const dataEmissao = hoje.toLocaleDateString('pt-BR');

               
                doc.text(`Nome: ${this.usuario.nome}`, 20, 20);
                doc.text(`Sexo: ${this.sexo}`, 20, 30);
                doc.text(`Idade: ${this.usuario.idade}`, 20, 40);
                doc.text(`Data de Emissão: ${dataEmissao}`, 20, 50);

               
                doc.text('Valores do Hemograma:', 20, 60);
                let yPosition = 70;

                
                doc.text('Série Vermelha (Eritograma):', 20, yPosition);
                yPosition += 10;

                const serieVermelha = [
                    { campo: 'eritrocitos', nome: 'ERITRÓCITOS' },
                    { campo: 'hemoglobina', nome: 'HEMOGLOBINA' },
                    { campo: 'hematocrito', nome: 'HEMATÓCRITO' },
                    { campo: 'vcm', nome: 'VCM' },
                    { campo: 'hcm', nome: 'HCM' },
                    { campo: 'chcm', nome: 'CHCM' },
                    { campo: 'rdw', nome: 'RDW' }
                ];

                serieVermelha.forEach((item) => {
                    let valor = this.valores[item.campo];
                    if (valor !== '') {
                        const resultado = this.calcularValor(item.campo); 
                        doc.text(`${item.nome}: ${valor} - ${resultado}`, 20, yPosition);
                        yPosition += 10;
                    }
                });

                
                yPosition += 10;
                
                
                doc.text('Série Branca (Leucograma):', 20, yPosition);
                yPosition += 10;

               
                const serieBranca = [
                    { campo: 'leucocitos', nome: 'LEUCÓCITOS' },
                    { campo: 'promielocitos', nome: 'PROMIELÓCITOS' },
                    { campo: 'mielocitos', nome: 'MIELÓCITOS' },
                    { campo: 'metamielocitos', nome: 'METAMIELÓCITOS' },
                    { campo: 'bastonetes', nome: 'BASTONETES' },
                    { campo: 'segmentados', nome: 'SEGMENTADOS' },
                    { campo: 'eosinofilos', nome: 'EOSINÓFILOS' },
                    { campo: 'basofilos', nome: 'BASÓFILOS' },
					{ campo: 'linftipicos', nome: 'BASÓFILOS' },
					{ campo: 'linfatipicos', nome: 'BASÓFILOS' },
					{ campo: 'monocitos', nome: 'BASÓFILOS' },
					{ campo: 'plasmocitos', nome: 'BASÓFILOS' }
					
                ];

                serieBranca.forEach((item) => {
                    let valor = this.valores[item.campo];
                    if (valor !== '') {
                        const resultado = this.calcularValor(item.campo); 
                        doc.text(`${item.nome}: ${valor} - ${resultado}`, 20, yPosition);
                        yPosition += 10;
                    }
                });

                
                doc.save('resultado_hemograma.pdf');
            }
        }
    });
</script>

</body>
</html>